.cs{
    width: 600px;
    /*background: green;*/
    margin: 0 auto;
}
.imgCenter{
    width: 300px;
    display: block;
    margin: 0 auto;
}
.text{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 10mm;
}
.text2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: dimgrey;
}
hr{
    background-color: dimgray;
    height: 2px;
}